
.App{
  padding-top: 78px;
  width: 100%;
  background: rgb(0,0,0);
background: linear-gradient(323deg, rgba(0,0,0,1) 9%, rgba(43,43,43,1) 32%, rgba(29,29,29,1) 68%, rgba(66,66,66,1) 100%, rgba(0,0,0,1) 100%);
padding-bottom: 30px;
}

.card{
  overflow: hidden;
}
.card Img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.card:hover Img {
 
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
  filter: alpha(opacity=0.8);
  opacity: 0.8;
}
.cast-container{
  overflow-x: scroll;
  width:100%;
}
.cast-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cast-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.cardd{
  background-color: #f4f4f4;
}


